<p> Search for users or games in our player base here. </p>

<form class="well" (submit)="searchTasks($event)">
 
    <div class = "form-group">
        <input type="text"[(ngModel)]="searchWord" name="searchWord" class ="form-control" placeholder="Search for a game">
    </div>  
</form>


<div class ="task-list">
    <div *ngFor="let result of results"> <!-- the asterisk in *ngFOr means it will use the DOm element as a template to render the loop -->
        
    <div class ="col-md-7">
        <h4> Game title: {{result.title}} </h4>
        <p> UserID: {{result.accountID}} </p>
        <p> Provided User name:  {{result.nickName}} <p>
        <p> Details: {{result.description}} </p>
        
    </div>
        
       
        <br><br>
</div> <!-- end of ngFor -->
</div>

