<p> Admin Site Tools </p>

<h3> If you have access to this page, your account has administrator privileges. </h3>

        <p> Step 1: Contact website owner Jake raw. His email address is jtraw@sympatico.ca </p>
        <p> He will give you the user name and password to access the data stored in the online mongodb server at: https://mlab.com/databases/jakedb </p>
        <p> All meta-data is accessible and editable in this online mongo database. </p>
        
        <br>
        
        <p> Step 2: The main method of communicating to the users is through the front page. There is an authenticated and unauthenticated front page that user
            are directed too. </p>
        <p> To add announcements on the front page, access the html file in /client/app/components/home/home.component.html </p>
        <p> Here announcements can be added and deleted, and will update across all accounts. </p>
        
        
        <h5> Handling DMCA requests </h5>
        <p> When A DMCA takedown request is recieved by email from a user or party, simply log into mlab using the site owner Jake Raw's
            credentials and change the name of the document (titled the user) of the targeted account by adding 'HOLDING' to it. This way, the account cannot be accessed by
            any authorized user. </p>
        <p> When the DMCA complaint is settled, the account can be restored be renaming the account to its original name (removing the 'HOLDING' from the title or permanently removed by deleting the account entirely.</p>