
<div class ="row">
    <div class="col-md-2">
        <img class="img-square" style="width:100%" src="{{profile.picture}}">    
    </div>
    <div class="col-md-10">
        <h1>{{profile.nickname}}'s Profile </h1>
        <p> Email: {{profile.name}} </p>
        <p> Last updated: {{profile.created_at}}</p>
        <p> Current game: {{profile.user_metadata.accountName}}</p>
    </div>
    <br>
    <br>

    <br>
</div>
<div class ="Gaming Credentials">
    <h1>Resume </h1>
    <br>
    <tasks></tasks>
</div>
